@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client:</h4>

<p><strong>Stop! In the Name of Hair!</strong></p>
<p>Before you upset Claire, you need to add at least one Stylist before you can add any Clients!</p>
<p>Go to @Html.ActionLink("the Add Stylists Page", "Create", "Stylist") before you proceed.</p>


@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistsId")

  <input type="submit" value="Add Client" class="btn btn-primary" />
}


<p>@Html.ActionLink("See all clients", "Index")</p>
<p>@Html.ActionLink("See all stylists", "Index", "Stylist")</p>
<p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>