@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit Client</h2>

<h4> Edit this Client: @Html.DisplayFor(model => model.ClientName)</h4>

<div>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
<label for="client_name">Client Name:</label>
  @Html.EditorFor(model => model.ClientName)
<br>
<br>
<label for="stylist">Stylist:</label>
  @Html.DropDownList("StylistId")
<br>
<br>
  <input type="submit" value="Save Changes" />
}
</div>
<br>
<div>
<p>@Html.ActionLink("Back to Client list", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
</div>